<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <script src="script2.js"></script>
    <title>MagicBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetExemple.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
    <header>
        <div>
            <img src="/images/Livre/Capture dՎcran.png" class="logo">
        </div>
        <div class="div_nav">
            <nav>

                <ul class="conteneur-des-boutons">
                    <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
                    <li><a asp-controller="Access" asp-action="Login">LOGIN</a></li>
                    <li><a asp-controller="Home" asp-action="APropos">A PROPOS</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">CONTACT</a></li>
                    <li><a asp-controller="Livre" asp-action="Livre">LIVRES</a></li>
                    <li><a asp-controller="Livre" asp-action="Ajouter">AJOUTER UN LIVRE</a></li>
                   
                </ul>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p class="footer">&copy; 2024-MagicBook</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>