@{
    ViewData["Title"] = "RACES";
}
<div>
    <h1> Races</h1>
    <table>
        <thead>
            <tr>
                <th>CodeRace</th>
                <th>NomRace</th>
                <th>bonusAttaque</th>
                <th>bonusDefense</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<Race>)ViewData["RACES"]!)
            {

                <tr>
                    <td>@(item.CodeRace)</td>
                    <td>@(item.NomRace)</td>
                    <td>@(item.bonusAttaque)</td>
                    <td>@(item.bonusDefense)</td>

                </tr>
            }
        </tbody>
    </table>

</div>