<div class="container">
    <h2>Connexion</h2>
    <form id="loginForm">
        <div class="div-input">
            <div>
                <label for="username">Nom d'utilisateur:</label>
            </div>
            <div>
                <input type="text" id="username" name="username" required>
            </div>

        </div>
        <div class="div-input">
            <div>
                <label for="password">Mot de passe:</label>
            </div>

            <div>
                <input type="password" id="password" name="password" required>
            </div>

        </div>
        <button class="button_connexion" type="submit">Connexion</button>
    </form>
    <p>Pas de compte ? <a asp-controller="Utilisateur" asp-action="Inscription" id="inscription">Inscrivez-vous ici</a></p>
</div>