

<div id="form_comm">



    <form class="ajoutCommentaire" asp-controller="Livre" asp-action="AjouterCommentaire" method="post">
        @* <input type="hidden" asp-for="ISBN" value="@Model.ISBN" />
        <div id="input-comm">
            <label asp-for="Commentaire" class="titre_coleur">Ajouter votre commentaire :</label>
            <!-- Utilisation de <textarea> au lieu de <input> -->
            <textarea asp-for="@Model.Commentaire"></textarea>
            <span asp-validation-for="Commentaire" class="text-danger"></span>
        </div> *@
        <button type="submit" class="button">Ajouter</button>
    </form>


</div>