<h1>Historique du site</h1>
<p>


    Le Groupe Groove&Performance for Book Club est présent sur Internet depuis 1997, avec des sites web consacrés à son activité de
    diffuseur et d'éditeur, et met en place assez tôt la possibilité de louer des livres de son fonds au travers
    de ces sites.

    En 1999, le groupe décide d'ouvrir un véritable site marchand, en s'appuyant sur l'expertise de sa librairie
    spécialisée parisienne et sur sa structure de vente à distance (EyrollesPro anciennement Dlivres). Le site
    Eyrolles.com est lancé en juillet de la même année et ouvre avec un premier rayon : l'Informatique.

    En 2000, les rayons Entreprise-management et BTP sont ajoutés sur le site et des partenariats sont mis en place
    avec quelques sites positionnés sur ces secteurs.

    Depuis de nombreux rayons ont été rajouté, suivant ainsi à la fois les évolutions de l’activité de libraire et
    les nouveaux thèmes éditoriaux français.


</p>