
<div class="container">
    <div id="slide">
        <div class="item" style="background-image: url('/images/Livre/12.jpg');">
            <div class="content">
                <div class="name">12 d'esclavage</div>
                <div class="des">"12 ans d'esclavage" est un livre écrit par Solomon Northup, un homme noir libre vivant à New York au XIXe siècle. L'histoire raconte le récit véridique de Solomon Northup lui-même, qui a été enlevé et vendu comme esclave pendant douze années.</div>
                <button>Detail</button>
            </div>
        </div>
        <div class="item" style="background-image: url('/images/Livre/d.jpg');">
            <div class="content">
                <div class="name">DUNE</div>
                <div class="des">Dune est un roman de science-fiction écrit par Frank Herbert. L'histoire se déroule dans un empire interstellaire féodal, où plusieurs maisons s'affrontent pour le contrôle de la planète Arrakis, également connue sous le nom de Dune.F</div>
                <button>Détail</button>
            </div>
        </div>
        <div class="item" style="background-image: url('/images/Livre/apo-.jpeg');">
            <div class="content">
                <div class="name">APOCALYPTO</div>
                <div class="des">L'histoire se concentre sur un Indien maya du nom de Patte de Jaguar, interprété par Rudy Youngblood. Les chasseurs de Patte de Jaguar croisent sur leur route des rescapés d'une tribu voisine encore sous le choc. Cela les met en alerte et ils décident de retourner dans leur village pour le protéger.</div>
                <button>Détail</button>
            </div>
        </div>
        <div class="item" style="background-image: url('/images/Livre/knight.jpeg');">
            <div class="content">
                <div class="name">LE TESTAMENT DU CHEVALIER</div>
                <div class="des">
                    Domfront, octobre 1161. Un chevalier fou vient mourir dans les bras d'un troubadour de légende.

                    Paris, 2023. Judith Guillemarche, religieuse et spécialiste des parchemins médiévaux, est sollicitée par un conservateur venu de Normandie. Il est certain d'avoir mis la main sur des originaux de Chrétien de Troyes, égarés depuis des siècles
                </div>
                <button>Détail</button>
            </div>
        </div>
        <div class="item" style="background-image: url('/images/Livre/wars.jpeg');">
            <div class="content">
                <div class="name">STAR WARS</div>
                <div class="des">À l'apogée de la Guerre des Clones, Anakin Skywalker et Obi-Wan Kenobi combattent Je sournois Général Grievous. Lors des premiers temps de la Rébellion, Luke Skywalker et Leia Organa découvrent une base impériale cachée. Durant l'avènement du Premier Ordre, Finn, Poe, Rey et Chewbacca affrontent quant à eux des stormtroopers et des chasseurs de primes pour que subsiste l'étincelle de la Résistance.</div>
                <button>Détail</button>
            </div>
        </div>
        <div class="item" style="background-image: url('/images/Livre/misé.jpeg');">
            <div class="content">
                <div class="name">LES MESIRABLE</div>
                <div class="des">Les Misérables" est considéré comme l'un des chefs-d'œuvre de la littérature française et aborde des questions intemporelles sur la justice, la compassion et la rédemption.</div>
                <button>Détail</button>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
        <button id="next"><i class="fa-solid fa-angle-right"></i></button>
    </div>
</div>