
<div class=" Project-grid">
    <div class="grid-container">
        <div class="project-card">
            <div class="img-grid">
                <img class="img-style" src="~/images/Livre/dune.png" alt="" />
            </div>
            <div class="project-content">
                <div class="content-name">
                    <h3 class="titre-livre">Dune</h3>
                </div>

            </div>
        </div>
        <div class="project-card">
            <div class="img-grid">
                <img class="img-style" src="~/images/Livre/le fou-prof.png" alt="" />
            </div>
            <div class="project-content">
                <div class="content-name">
                    <h3 class="titre-livre">Le Fou Et Le Professeur</h3>
                </div>

            </div>
        </div>
        <div class="project-card">
            <div class="img-grid">
                <img class="img-style" src="~/images/Livre/12 d(esc.png" alt="" />
            </div>
            <div class="project-content">
                <div class="content-name">
                    <h3 class="titre-livre">12 Ans D'esclavage'</h3>
                </div>

            </div>
        </div>
        <div class="project-card">
            <div class="img-grid">
                <img class="img-style" src="~/images/Livre/apoca.png" alt="" />
            </div>
            <div class="project-content">
                <div class="content-name">
                    <h3 class="titre-livre">Apocalypto</h3>
                </div>

            </div>
        </div>
        <div class="project-card">
            <div class="img-grid">
                <img class="img-style" src="~/images/Livre/kalila et dimna.png" alt="" />
            </div>
            <div class="project-content">
                <div class="content-name">
                    <h3 class="titre-livre">Kalila Et Dimna</h3>
                </div>

            </div>
        </div>
        <div class="project-card">
            <div class="img-grid">
                <img class="img-style" src="~/images/Livre/lesmisi.png" alt="" />
            </div>
            <div class="project-content">
                <div class="content-name">
                    <h3 class="titre-livre">Les Misérables</h3>
                </div>

            </div>
        </div>
        <div class="project-card">
            <div class="img-grid">
                <img class="img-style" src="~/images/Livre/sinbad.png" alt="" />
            </div>
            <div class="project-content">
                <div class="content-name">
                    <h3 class="titre-livre">Sinbad Le Marin</h3>
                </div>

            </div>
        </div>
        <div class="project-card">
            <div class="img-grid">
                <img class="img-style" src="~/images/Livre/il-au-trsr.png" alt="" />
            </div>
            <div class="project-content">
                <div class="content-name">
                    <h3 class="titre-livre">L'ile Au Trésor'</h3>
                </div>

            </div>
        </div>
    </div>
</div>