<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Défilement d'images de films</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Défilement d'images de Livres</h1>
        <div class="slider">
            <ul id="liste-films">
            </ul>
        </div>
        <div class="boutons">
            <button id="precedent">Précédent</button>
            <button id="suivant">Suivant</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>