<p>
    

    ---

    **Mention légale**

    Ce site web est la propriété de MagicBook, une société fictive spécialisée dans la création de contenus littéraires et artistiques.

    Siège social : 123, Rue de la Magie, 75000 Ville Enchantée

    Directeur de la publication : [Nom du directeur]

    Contact : [Adresse e-mail]

    Hébergeur du site : [GROOVE-PERFORMANCE], 32 avenue de la republique, [Numéro de téléphone de l'hébergeur]

    Droits d'auteur : Tous les éléments de ce site (textes, images, vidéos, etc.) sont la propriété exclusive de MagicBook ou de ses partenaires. Toute reproduction, même partielle, est strictement interdite sans autorisation préalable.

    Protection des données personnelles : MagicBook s'engage à respecter la confidentialité des informations personnelles fournies par les utilisateurs de ce site et à les utiliser uniquement dans le cadre prévu par la loi.

    Crédits photos : Les images utilisées sur ce site sont soit la propriété de MagicBook, soit utilisées avec l'autorisation de leurs propriétaires respectifs.

    ---

    </p>