<div class="container1">
    <div class="icon">
        <i class="search fa fa-search"></i>
    </div>
</div>
<script>
    let search = document.querySelector(".search");
    search.onclick = function () {
        document.querySelector(".container1").classList.toggle('active');
    }
</script>